<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
		{% for actu in nav if actu.title == 'actu' %}
				<div class="popup">
					<div class="bandeau">
						<div class="close" onClick="document.querySelector('.popup').classList.add('closed')">X</div>
					</div>
						{{ actu.content }}
				</div>
		{% endfor %}
	<nav>
	<ul>
		<li>
			<a class="logo" href="#part-top">
				{{ config.site_name }}
			</a>
		</li>
		{% for item in nav if item.title != 'actu' %}
		<li>
			<a href="#part{{loop.index}}">
				{{ item.title }}
			</a>
		</li>
		{% endfor %}
		<li>
			<a  href="#galery">
				Galerie
			</a>
		</li>
		<li>
			<a  href="#part-end">
				Contact
			</a>
		</li>
	</ul>
	</nav>

<main>
	{% block content %}
	{% endblock %}
</main>

<footer>
	<marquee behavior="" direction="" scrollamount="10">
		<ul>
			{% for actu in config.actu %}
			<li>
				{{ actu }}
			</li>
			{% endfor %}
		</ul>
	</marquee>
</footer>
	
</body>
</html>
