<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<nav>
	<ul>
		<li>
			<a class="logo" href="#part-top">
				{{ config.site_name }}
			</a>
		</li>
		{% for item in nav %}
		<li>
			<a href="#part{{loop.index}}">
				{{ item.title }}
			</a>
		</li>
		{% endfor %}
		<li>
			<a  href="#galery">
				Galerie
			</a>
		</li>
		<li>
			<a  href="#part-end">
				Contact
			</a>
		</li>
	</ul>
	</nav>

<main>
	{% block content %}
	{% endblock %}
</main>

<footer>
	<marquee behavior="" direction="" scrollamount="10">
		<ul>
			<li>
				brocante vélo - place saint-denis - mercredi 24 mai
			</li>
			<li>
				Atelier en mixité choisie avec les Déchainées - 28 avril 
			</li>
		</ul>
	</marquee>
</footer>
	
</body>
</html>
